@import '@unocss/reset/tailwind.css';
@unocss all;

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
  -webkit-appearance: none;
  -moz-appearance: textfield !important;
  appearance: none;
  @apply m-0;
}

::-webkit-scrollbar {
  @apply w-2;
}
::-webkit-scrollbar-thumb {
  @apply bg-main rounded-md;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-text;
}

::selection {
  @apply bg-main text-sub-alt;
}

:root {
  --font: var(--font-lexend-deca);
}
