@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
    appearance: none;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: theme('colors.main');
    border-radius: theme('borderRadius.md');
  }
  ::-webkit-scrollbar-thumb:hover {
    background: theme('colors.text');
  }
}

:root {
  --font: var(--font-lexend-deca);
}
